:root{
	font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
}


/*CSS for Container*/
.container{
	background-color: #FEE3AD;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
	p{
		width: inherit;
		text-align: center;
	}
		#para-one{			
			padding-top: 6vh;
			font-size: 2.4rem;
			font-family: 'Sawarabi Mincho', sans-serif;
		}

		#para-two{
			margin-top: 0vh;
			font-size: 2.2rem;
			font-family: 'Dancing Script', cursive;
		}

		#para-three{
			margin-top: 0vh;
			font-size: 2.2rem;
			font-family: 'Dancing Script', cursive;
		}

		ul{
			margin-top: 0vh;
			align-self: flex-start;
			padding-left: 38vw;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
		}
		ul li{
			list-style-type: devanagari;
			padding-bottom: 5px;
			transition: all 0.2s ease 0.1s;
		}

		ul li:hover{
			transform: scale(1.2, 1.2);
		}
			ul li a{
				text-decoration: none;
				color: black;
				font-size: 1.4rem;
				font-family: 'Sawarabi Mincho', sans-serif;				
			}
/*ends here*/


/*CSS for footer*/
.footer{
	background-color: #FEE3AD;
	width: 98%;
	bottom: 0;
	left: 0;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	margin-left: 0.8vw;
	margin-bottom: 1vh;
	position: absolute;
	border: 2px solid lightgrey;
	border-radius: 1vw;
	box-shadow: 4px 4px 4px grey;
	display: flex;
	justify-content: center;
}
	.footer span{
		text-align: center;
		font-size: 1.1rem;
	}
/*ends here*/


/*Media Query for xs sized screen sizes*/
@media only screen and (max-width: 567px){
	#para-one{			
			padding-top: 3vh;
			margin-bottom: 3vh;
			font-size: 2.2rem;
		}
	#para-two{
		font-size: 1.8rem;
		margin-bottom: 3vh;
	}
	#para-three{
		font-size: 1.8rem;
	}
	ul{
		margin-top: -2vh;
	}
	ul li a{
		font-size: 1.2rem;		
	}
	.footer{
		width: 96.5%;
		margin-left: 1vw;
		padding-top: 2vh;
		padding-bottom: 2vh;
	}	
	.footer span{
		font-size: 1rem;
	}
}
/*ends here*/